body{
    background-color:#000000;
  }

  img.titleGraphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 100%;
    opacity: 0.25;
  }

  img.torchGraphic {
    height: auto;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

  button.button {
      background-color: #283137;
      border: none;
      color: yellow;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size:24px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
    }

  p.usageNotes {
    color: #36454F;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-stretch: expanded;
    font-weight: bold;
    font-size:12px;
    padding-left: 50px;
    text-align:center;
  }

  p.copyright {
    color: #36454F;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-stretch: expanded;
    font-weight: normal;
    font-size:10px;
    padding-right: 50px;
    text-align:right;
  }
  
  div {
    background-color:#000000;
    color:#d74224;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-stretch: expanded;
    font-weight: bold;
    font-size:40px;
    text-align:center;
  }